:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

:host.collapsed {
  --sidebar-width: 64px;
}

.header {
  height: 48px;
  background: red;
}

.logo { 
  height: 100%;
  box-sizing: border-box;
  width: var(--sidebar-width);
  border-right: 1px solid white;
}

.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
}
.sidebar {
  border-right: 1px solid rgba(0,0,0,0.2);
  width: var(--sidebar-width);
  box-sizing: border-box;
}
.main { 
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

